/* Estilos para los mensajes de error */

.mensaje-error {
    border: 3px solid;
    padding: 8px;
    margin-top: 6px;
    font-weight: bold;
    background-color: #f5f5f5;
}

.mensaje-error::before {
    content: "▲ ";
}

/* Resumen de errores */

.resumen-errores {
    border: 3px solid;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.resumen-errores::before {
    content: "▲ ";
    font-weight: bold;
}